* {
    box-sizing: border-box;
  }
 :root {
    --primary: #0a0808c5;
    --secondary: #075ca1;
    --tertiary: rgb(56, 203, 211);
    --white: rgb(255, 255, 255);
    font-size: 62.5%;
  }

  body {
    background: #ededed;
    color: var(--secondary);
    margin: 0;
    padding: 0;
    
  }